.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 62.5%; /* 16:9 aspect ration  = 0.5625 */
}

/* create iframe to fit in the containetr div width full height and width */
.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}