/*-- scss:defaults --*/

/*-- Define colors for later use --*/

$white: #fff !default;
$black: #000 !default;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$primary: #13263a;
$secondary: #5AC8BE;
$tertiary: #9D0F6A;


$deep-cyan: #13263a !default;
$bluegray: #FAF0E4 !default;
$bermuda: #5AC8BE !default;
$light-gray: #f1f3f5 !default;
$mid-gray: #75776d !default;
$darker-gray: #687178 !default;

// Navbar
$navbar-bg: $deep-cyan !default;
$navbar-fg: $bluegray !default;
$navbar-hl: $white !default;

// Links
$link-color: $bermuda !default;

// Code blocks
$code-block-bg: $light-gray !default;



/*-- scss:rules --*/

:root {
  --link-color: $secondary; /* Define the CSS variable for link color */
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: $secondary !important;
  background-color: snow;
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.sidebar-docked .quarto-body-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* Adjust as needed */
  padding-left: 1em;
  padding-right: 1em;
}